/* train_one */
.level_one {
    background: black;
}
span {
    font-size: 23px;
}
.wordBoard{
    width: 1000px;
    height: 700px;
    margin: 100px auto;  /* 上下边距100左右自动*/
    /*background: #d8d8bf;*/
    background: #ffffff;
    border-radius: 20px;  /* 圆角属性*/
}
.selectWord {
    color: #BC8F8F;
    /*background: #eaeaae;*/
    background: #C0C0C0;
    border-radius: 10px;  /* 圆角属性*/
}
.inputTrue {
    color: #6b8e23;
}
.wordPlace {
    float: left;
    width: 400px;
    height: 100px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    /*line-height: 60px;*/
    border-radius: 10px;  /* 圆角属性*/
}
.next-btn {
    float: right;
    width: 400px;
    height: 100px;
    margin: 20px;
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    /*line-height: 60px;*/
    border-radius: 10px;  /* 圆角属性*/
}
/* train_one */
/* train_tow */
.fdck {
    border:1px solid #c0c0c0;
    margin:10px auto;
    padding:5px;
    background:#f0f0f0;
    border-radius: 10px;  /* 圆角属性*/
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 23px;
}
/* train_tow */
/* train_three */
.word_card {
    float: left;
    margin: 20px;
    width: 300px; 
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-left: 30px;
    border-radius: 10px;  /* 圆角属性*/
}
.title {
    text-align: center;
}
.bg_en {
    float: left;
    width: 800px;
    height: 800px;
    margin-left: 50px;
    background: #FFFF99;
    /*background: #ffffff;*/
    border-radius: 20px;  /* 圆角属性*/
}
.bg_zh {
    float: left;
    width: 800px;
    height: 800px;
    margin-left: 50px;
    background: #FFCCFF;
    /*background: #ffffff;*/
    border-radius: 20px;  /* 圆角属性*/
}
.train-over {
    float: top;
    margin: 20px 500px;
}
/* train_three */

