{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>爱单词主页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">

    <!--核心样式-->
    <link rel="stylesheet" href='{% static "css/an-skill-bar.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
  </head>
  <style type="text/css">
    .modal-footer ul {
      list-style:none;
    }
    .modal-footer ul li {
      float: left;
      width: 20px;
      height: 20px;
      margin: 20px;
      font-size: 30px;
    }
    .modal-footer .btn {
      margin-top: 50px;
    }
  </style>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">背词神器</a>
          <li class="navbar-brand dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 选择词库(当前{{ word_type.type_name }}) <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for word_type in word_db_type %}
                <li><a href="{% url 'band_with_type' word_type.pk %}">{{ word_type.type_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <form class="navbar-form navbar-right" action="{% url 'user_out' %}" method="GET">
              {% csrf_token %}
              <a type="submit" class="btn btn-success" href="#">当前用户：{{ user.username }}</a>
              <button type="submit" class="btn btn-success">退出登录</button>
            </form>
          {% else %}
            <form class="navbar-form navbar-right" action="{% url 'home' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="用户名" name="用户名" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" name="密码" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">登录</button>
              <a type="submit" class="btn btn-success" href="{% url 'register' %}">注册</a>
              <div class="btn" style="color: red">{{ error }}</div>
            </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>学习新词!</h1>
        <p>按照你所选的首字母来学习新单词.</p>
        <p>
          <button class="btn btn-primary btn-lg"  role="button"  data-toggle="modal" data-target="#myModal" onclick="showPanel()">开始吧 &raquo;
          </button>
        </p>
        {% if user.is_authenticated %}
          <div class="container" hidden="true" id="panel">
            <div id="skill">
              {% for key, value in percent_list %}
                <div class="skillbar {{ key }}">
                  <div class="filled" data-width="{{ value }}%"></div>
                  <span class="title">{{ key }}</span>
                  <span class="percent">{{ value }}%</span>
                </div>
                {% if value == 100 %}
                  <div class="btn btn-success"> 已完成 </div>
                {% else %}
                  <a class="btn btn-success"  href="{% url 'word_train' key word_type.type_name %}">开始学习{{ key }}首字母单词</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="btn" style="color: red">{{ error }}</div>
        {% endif %}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>查看已学内容</h2>
          <p>查看自己学习过的词汇. </p>
          <p><a class="btn btn-default" href="{% url 'view_page' word_type.pk %}"  role="button">点击进入 &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>复习已学单词</h2>
          <p>对已经学习过的新单词进行抗遗忘复习. 每一个单词你一共需要输入完成3次。在输入第3次的时候需要注意，如果输入错误，你将需要重新输入。</p>
          {% if review_error == '未学习新单词' %}
            <p><div class="btn btn-default" role="button">{{ review_error }}</div></p>
          {% else %}
            <p><a class="btn btn-default" href="{% url 'review_page' word_type.pk %}" role="button">点击进入 &raquo;</a></p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>测验已学习的词汇</h2>
          <p>随机抽出已经学习过的单词.（你需要辨别相应的中英文）</p>
          {% if review_error == '未学习新单词' %}
            <p><div class="btn btn-default" role="button">{{ review_error }}</div></p>
          {% else %}
            <p><a class="btn btn-default" href="{% url 'exam' word_type.pk %}" role="button">点击进入 &raquo;</a></p>
          {% endif %}
        </div>
      </div>
    </div> <!-- /container -->

    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'an-skill-bar.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script type="text/javascript">
      function showPanel() {
        if ($("#panel").is(":hidden")) {
               $("#panel").show();  // 如果元素为隐藏,则将它显现
        }
        else {
              $("#panel").hide();  // 如果元素为显现,则将其隐藏
        }
      }
    </script>
  </body>
</html>
