{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>训练学习第1阶段</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'train/train.css' %}">
</head>
<body class="level_one">
<!--     <p id="test" hidden="true">123</p> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'band_with_type' word_type.pk %}">返回主页</a>
          <div class="navbar-brand" style="color: green;">请拼写选中的单词</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form id="nextBtn" class="navbar-form navbar-right" hidden="true" action="{% url 'level_tow' %}" method="post">
                {% csrf_token %}
                <input id="en_word" type="text" name="en_word" value="" hidden="true">
                <input id="zh_word" type="text" name="zh_word" value="" hidden="true">
                <input id="word_pk" type="text" name="word_pk" value="" hidden="true">
                <input id='word_type' type="text" name="word_type" value="{{ word_type }}" hidden="true">
                <button type="submit" class="btn btn-success">进行下阶段学习</button>
            </form>
            <div class="navbar-form navbar-right" hidden="true">
                <button id="upload_button" type="submit" class="btn btn-success">进行下阶段学习</button>
            </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class='wordBoard'>
        <div id='wordCount' hidden='true'>{{ words|length }}</div>
        <!-- <div id='word_type' hidden='true'>{{ word_type }}</div> -->
        <!-- <div id='test' hidden='true'></div> -->
        {% for word in words %}
            <div id='W1{{ forloop.counter }}' data-finish='false' class='wordPlace' data-last='{% if forloop.last %}true{% else %}false{% endif %}'>
                <div id='WE1{{ forloop.counter }}'>
                    {% for i in word.english %}<span id='W1{{ forloop.parentloop.counter }}C{{ forloop.counter }}' data-last='{% if forloop.last %}true{% else %}false{% endif %}'>{{ i }}</span>{% endfor %}
                </div>
                <br>
                <div id='WC1{{ forloop.counter }}'>{{ word.chinese }}</div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'train/train.js' %}"></script>
    <script type="text/javascript">
        // 将后台数据转成数组
        var english_temp = "{{ english|safe }}";
        var chinese_temp = "{{ chinese|safe }}";
        var word_pk_temp = "{{ word_pk|safe }}";
        // 字符串替换以及字符串转数组
        var english = english_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
        var chinese = chinese_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
        var word_pk = word_pk_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
        document.getElementById("en_word").value = english;
        document.getElementById("zh_word").value = chinese;
        document.getElementById("word_pk").value = word_pk;
        $("#upload_button").click(function(){
            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}"); //必须写在模板中，才会被渲染)
            formData.append("en_word", english);
            formData.append("zh_word", chinese);
            formData.append("word_pk", word_pk);
            formData.append("word_type", "{{ word_type }}");

            $.ajax({
                url : "{% url 'level_tow' %}",
                type : "POST",
                data : formData,
                contentType : false,
                processData : false,
            });
        })
    </script>
</body>
</html>