{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'train/train.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    </head>
    <body ondrop="stop_drop(event)">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'band_with_type' word_type.pk %}">返回主页</a>
              <div id="scoreTip" class="navbar-brand" style="color: green; visibility: hidden;">正确数(<span id="score">5</span>/{{ english|length }})</div>
              <div id="tip" class="navbar-brand" style="color: green; visibility: visible;">请把相应的中文拖放到矩形中(只能拖动一次)</div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div id="overbtn1" class="navbar-form navbar-right" style="visibility: visible;">
                    <button type="submit" class="btn btn-success" onclick="calculateScore()">查看得分</button>
                </div>
                <form id="overbtn2" class="navbar-form navbar-right" action="{% url 'exam_finished' %}" method="POST" style="visibility: hidden;">
                    {% csrf_token %}
                    <input id="word_pk" type="text" name="word_pk" value="" hidden="true">
                    <input id='word_type' type="text" name="word_type" value="{{ word_type }}" hidden="true">
                    <input id="true_list" type="text" name="true_list" value="" hidden="true">
                    <button type="submit" class="btn btn-success">测验结束</button>
                </form>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>
        <div id='wordCount' hidden='true'>{{ english|length }}</div>
            <div class="Panel">
                <div id="background_en" class="bg_en">
                </div>
                <div id="background_zh" class="bg_zh">
                </div>
            </div>
        <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript">
            var wordCount = 0;
            if (document.getElementById("wordCount")) {
                wordCount = Number(document.getElementById("wordCount").innerText);
            }
            var is_true = [];  // 检测是否用到提示
            for (var i = 0; i < wordCount; i++) {
                is_true.push('false');
            }
            // 将后台数据转成数组
            var english_temp = "{{ english|safe }}";
            var chinese_temp = "{{ chinese|safe }}";
            var word_pk_temp = "{{ word_pk|safe }}";
            // 字符串替换以及字符串转数组
            var english = english_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            var chinese = chinese_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            var word_pk = word_pk_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            // document.getElementById("en_word").value = english;
            document.getElementById("word_pk").value = word_pk;
            // 生成单词区域
            function createWordSpace() {
                var str_temp = '<div id="[CARD_ID_VALUE]" class="word_card" ondrop="drop(event)" ondragover="allowDrop(event)"><div id="[WORD_ID_VALUE]" class="zh_word" draggable="true" ondragstart="drag(event)" ondrop="stop_drop(event)">[CONTENT]</div></div>';

                // 生成单个词的标签列表
                var show_text_list = [];
                for (var i = 0; i < wordCount; i++) {
                    show_text_list.push(str_temp.replace(/\[CARD_ID_VALUE\]/g, (i+1)+'space').replace(/\[WORD_ID_VALUE\]/g, 'word_zh_'+(i+1)).replace(/\[CONTENT\]/g, chinese[i]));
                }
                // 打乱列表
                var arrLen = show_text_list.length;  //获取数组长度
                var temp_index_list = new Array();  // 创建数组 存放下标数
                for (var i = 0; i < arrLen; i++) {
                    temp_index_list[i] = i;
                }
                var random_index_list = new Array();  // 创建数组 生成随机下标数
                for (var i = 0; i < arrLen; i++) {
                    random_index_list[i] = temp_index_list.splice(Math.floor(Math.random() * temp_index_list.length), 1);  // splice(位置, 步长) 删除数组指定位置及步长的元素并返回删除值
                }
                var end_list = new Array();
                for (var i = 0; i < arrLen; i++) {
                    end_list[i] = show_text_list[ random_index_list[i] ];
                }

                var show_text = '';
                for (var i = 0; i < wordCount; i++) {
                    show_text += end_list[i];
                }
                document.getElementById('background_zh').innerHTML = show_text;
            }
            function createWordCard() {
                var str_temp = '<div id="[CARD_ID_VALUE]" class="word_card"  ondrop="drop(event)" ondragover="allowDrop(event)"><div ondrop="stop_drop(event)" id="[WORD_ID_VALUE]" class="en_word">[CONTENT]</div></div>';
                // 生成单个词的标签
                var show_text = '';
                for (var i = 0; i < wordCount; i++) {
                    show_text += str_temp.replace(/\[CARD_ID_VALUE\]/g, 'card'+(i+1)).replace(/\[WORD_ID_VALUE\]/g, 'word_en_'+(i+1)).replace(/\[CONTENT\]/g, english[i]);
                }
                document.getElementById('background_en').innerHTML = show_text;
            }
            function start() {
                // body...
                createWordCard();  // 生成英文单词卡
                createWordSpace();  // 生成中文区域
            }
            function stop_drop(event) {
                    event.preventDefault();
                    event.stopPropagation();  // 阻止放入拖拽标签
                }
            function allowDrop(ev) {
                ev.preventDefault();  // 该方法将通知 Web 浏览器不要执行与事件关联的默认动作（如果存在这样的动作）
            }
            // 拖动标签就调用这个
            function drag(ev) {
                // 设置Text的值为触发这个事件的标签的id
                ev.dataTransfer.setData("Text", ev.target.id);
            }
            function checkOver() {
                overbtn1.style.visibility = "hidden";
                tip.style.visibility = "hidden";
                overbtn2.style.visibility = "visible";
                scoreTip.style.visibility = "visible";
            }
            // 有拖动事件在某标签上面的时候触发
            function drop(ev) {
                ev.preventDefault();  // 该方法将通知 Web 浏览器不要执行与事件关联的默认动作（如果存在这样的动作）
                var data = ev.dataTransfer.getData("Text");  // 把存有拖拽的标签的id的值的Text赋值给data
                ev.target.appendChild(document.getElementById(data));  // 通过id定位到拖拽标签，然后把该拖拽标签设置为当前接受拖拽标签的标签的子标签
                var current_id = ev.target.id;
                document.getElementById(data).draggable = false;  // 禁止标签拖动
                document.getElementById(current_id).ondrop = "stop_drop(event)";  // 加入禁止拖动函数
                // 验证是否拖入正确
                if(data.substring(data.length - 1, data.length) == current_id.substring(current_id.length - 1, current_id.length)) {
                    // 末尾id数1~9
                    if (document.getElementById("word_en_" + current_id.substring(current_id.length - 1, current_id.length))) {
                        document.getElementById("word_en_" + current_id.substring(current_id.length - 1, current_id.length)).className = "wordTrue";
                    }
                    // 末尾id数10
                    else {
                        document.getElementById("word_en_" + wordCount).className = "wordTrue";
                    }
                    // document.getElementById(data).draggable = false;
                    // document.getElementById(current_id).ondrop = "stop_drop(event)";  // 加入禁止拖动函数
                    // checkOver();  // 检测是否全部拖入
                }
            }
            // 计算得分
            function calculateScore() {
                var score = $(".wordTrue").length;  // 获取正确单词个数
                $("#score").html(score);  // 显示正确个数
                $(".en_word").attr("class", "word_error");  // 替换类名
                $(".wordTrue").attr("class", "inputTrue");  // 替换类名
                checkOver();
                // 获取正确的单词
                $(".inputTrue").each(function(){
                    var id_value = $(this).attr("id");
                    is_true[parseInt(id_value.replace(/word_en_/g, '')) - 1] = 'true';
                });
                document.getElementById("true_list").value = is_true;
            }
            start();
        </script>
    </body>
</html>