{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>训练学习第2阶段</title>
        <link rel="stylesheet" type="text/css" href="{% static 'train/train.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    </head>
    <body>
        <p id="content_en" hidden="true"></p>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'band_with_type' word_type.pk %}">返回主页</a>
              <div class="navbar-brand" style="color: green;">请拼写选中的单词</div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form id="nextBtn" class="navbar-form navbar-right" hidden="true" action="{% url 'level_three' %}" method="post">
                    {% csrf_token %}
                    <input id="en_word" type="text" name="en_word" value="" hidden="true">
                    <input id="zh_word" type="text" name="zh_word" value="" hidden="true">
                    <input id="word_pk" type="text" name="word_pk" value="" hidden="true">
                    <input id='word_type' type="text" name="word_type" value="{{ word_type }}" hidden="true">
                    <button type="submit" class="btn btn-success">进行下阶段学习</button>
                </form>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>
        <div id='wordCount' hidden='true'>{{ english|length }}</div>
        <div id="content_body"></div>
        <script type="text/javascript">
            var wordCount = 0;
            if (document.getElementById("wordCount")) {
                wordCount = Number(document.getElementById("wordCount").innerText);
            }
            // 将后台数据转成数组
            var english_temp = "{{ english|safe }}";
            var chinese_temp = "{{ chinese|safe }}";
            var word_pk_temp = "{{ word_pk|safe }}";
            // 字符串替换以及字符串转数组
            var english = english_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            var chinese = chinese_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            var word_pk = word_pk_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
            document.getElementById("en_word").value = english;
            document.getElementById("zh_word").value = chinese;
            document.getElementById("word_pk").value = word_pk;
            // 每个单词卡的id号
            // var words_id = ['word1', 'word2', 'word3', 'word4', 'word5', 'word6', 'word7', 'word8', 'word9', 'word10'];
            var words_id = [];
            for (var i = 0; i < wordCount; i++) {
                words_id.push("W1" + (i+1));
            }
            document.getElementById("content_en").innerHTML = english;
            // document.getElementById("content_zh").innerHTML = chinese;
            // document.getElementById("content_body").innerHTML = "<div id='img2' style='position: absolute; left: 211; top: 300;visibility :hidden;' align='middle'><div class='fdck'>这是新建的</div></div>"
            // var pause = true;
            // 储存每个单词卡的坐标点数组
            var xPos = [];
            var yPos = [];
            // 每个单词的移动方向
            var yon = [];
            var xon = [];
            for (var i = 0; i < wordCount; i++) {
                xPos.push((Math.floor(Math.random()*10)+1) * 9 * (Math.floor(Math.random()*10)+1) * (Math.floor(Math.random()*10)+1));
                yPos.push((Math.floor(Math.random()*10)+1) * 9 * (Math.floor(Math.random()*10)+1) * (Math.floor(Math.random()*10)+1));
                yon.push(Math.round(Math.random()));
                xon.push(Math.round(Math.random()));
            }
            var step = 1;
            var height = 0;
            var Hoffset = 0;
            var Woffset = 0;
            var delay = 30;
            var interval;  // 立即运行数组
            // img.style.top = yPos;
            function changePos(i) {
                // for (var i = 0; i < 1; i++) {
                    wordId = words_id[i];
                    window[wordId].style.top = yPos[i];
                    width = document.body.clientWidth;
                    height = document.body.clientHeight;
                    Hoffset = window[wordId].offsetHeight;
                    Woffset = window[wordId].offsetWidth;
                    window[wordId].style.left = xPos[i] + document.body.scrollLeft;
                    window[wordId].style.top = yPos[i] + document.body.scrollTop;
                    if (yon[i]) {
                        yPos[i] = yPos[i] + step;
                    }
                    else {
                        yPos[i] = yPos[i] - step;
                    }
                    if (yPos[i] < 30) {
                        yon[i] = 1;
                        yPos[i] = 30;
                    }
                    if (yPos[i] >= (height - Hoffset)) {
                        yon[i] = 0;
                        yPos[i] = (height - Hoffset);
                    }
                    if (xon[i]) {
                        xPos[i] = xPos[i] + step;
                    }
                    else {
                        xPos[i] = xPos[i] - step;
                    }
                    if (xPos[i] < 0) {
                        xon[i] = 1;
                        xPos[i] = 0;
                    }
                    if (xPos[i] >= (width - Woffset)) {
                        xon[i] = 0;
                        xPos[i] = (width - Woffset);
                    }
                // }
            }
            function createWordCard() {
                // body...
                var str_temp = "<div id='[ID_NUM]' data-finish='false' data-last='[LAST_VALUE]' style='position: absolute; left: 0; top: 0;visibility :hidden;' align='middle'><div class='fdck'>[CONTENTEN]<br><br>[CONTENTZH]</div></div>";
                // 生成单词标签
                var show_en_list = [];
                for (var i = 0; i < wordCount; i++) {
                    var temp_word = "";
                    for (var j = 0; j < english[i].length; j++) {
                        if (j != english[i].length - 1) {
                            temp_word += "<span id='W1" + (i+1) + "C" + (j+1) + "' data-last='false'>" + english[i].substring(0+j, 1+j) + "</span>";
                        }
                        else {
                            temp_word += "<span id='W1" + (i+1) + "C" + (j+1) + "' data-last='true'>" + english[i].substring(0+j, 1+j) + "</span>";
                        }
                    }
                    show_en_list.push(temp_word);
                }
                // 生成单词卡标签
                var inner_text = "";
                for (var i = 0; i < wordCount; i++) {
                    if (i != wordCount - 1) {
                        inner_text += str_temp.replace(/\[ID_NUM\]/g, words_id[i]).replace(/\[CONTENTEN\]/g, show_en_list[i]).replace(/\[CONTENTZH\]/g, chinese[i]).replace(/\[LAST_VALUE\]/g, "false");
                    }
                    else {
                        inner_text += str_temp.replace(/\[ID_NUM\]/g, words_id[i]).replace(/\[CONTENTEN\]/g, show_en_list[i]).replace(/\[CONTENTZH\]/g, chinese[i]).replace(/\[LAST_VALUE\]/g, "true");
                    }
                }
                document.getElementById("content_body").innerHTML = inner_text;
                // 遍历单词卡并设置全部显示
                for (var i = 0; i < wordCount; i++) {
                    window[words_id[i]].style.visibility = "visible";
                }
            }
            function start() {
                // img.style.visibility = "visible";
                // img2.style.visibility = "visible";
                createWordCard();  // 创建单词浮动卡
                for (var i = 0; i < wordCount; i++) {
                    setInterval('changePos(' + i + ')', 10 + i * 1.2);  // 定时运行某个函数
                }
                // document.getElementById("W11").className += " selectWord";
            }
            start();
        </script>
        <script type="text/javascript" src="{% static 'train/train.js' %}"></script>
    </body>
</html>