{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>复习单词</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'train/train.css' %}">
</head>
<body class="level_one">
<!--     <p id="test" hidden="true">123</p> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'band_with_type' word_type.pk %}">返回主页</a>
          <div class="navbar-brand" style="color: green;">请拼写选中的单词</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form id="nextBtn" class="navbar-form navbar-right" hidden="true" action="{% url 'review_finished' %}" method="post">
                <input id="word_pk" type="text" name="word_pk" value="" hidden="true">
                <input id='word_type' type="text" name="word_type" value="{{ word_type }}" hidden="true">
                <button type="submit" class="btn btn-success">复习完毕</button>
            </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class='wordBoard'>
        <div id='wordCount' hidden='true'>{{ words|length }}</div>
        <!-- <div id='word_type' hidden='true'>{{ word_type }}</div> -->
        <!-- <div id='test' hidden='true'></div> -->
        {% for word in words %}
            <div id='W1{{ forloop.counter }}' data-finish='false' class='wordPlace' data-last='{% if forloop.last %}true{% else %}false{% endif %}'>
                <div id='WE1{{ forloop.counter }}'>
                    {% for i in word.english.english %}<span id='W1{{ forloop.parentloop.counter }}C{{ forloop.counter }}' data-last='{% if forloop.last %}true{% else %}false{% endif %}' class="letter{{ forloop.parentloop.counter }}" style="">{{ i }}</span>{% endfor %}
                </div>
                <div><button data-btnName="{{ forloop.counter }}" type="submit" class="btn btn-success" style="font-size: 16px;" onclick="showTip(this)">完成次数<span id="finishCount{{ forloop.counter }}" style="font-size: 16px;">0</span>/3(点击提示单词)</button></div>
                <div id='WC1{{ forloop.counter }}'>{{ word.english.chinese }}</div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'train/review.js' %}"></script>
    <script type="text/javascript">
        // 将后台数据转成数组
        var word_pk_temp = "{{ word_pk|safe }}";
        // 字符串替换以及字符串转数组
        var word_pk = word_pk_temp.replace(/\[/g, '').replace(/\]/g, '').replace(/'/g, '').replace(/ /g, '').split(',');
        document.getElementById("word_pk").value = word_pk;
        // 显示单词提示
        function showTip(obj) {
            var letter_list = document.getElementsByClassName("letter" + obj.getAttribute("data-btnName"));
            var completed_count = document.getElementById("finishCount" + obj.getAttribute("data-btnName")).innerHTML;
            if (completed_count == '2') {
                for (var j = 0,len = letter_list.length; j < len; j++) {
                    letter_list[j].style.color = "";
                    letter_list[j].style.backgroundColor = "";
                }
            }
        }
    </script>
</body>
</html>